<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Menus</title>
</head>
<body>
<h1>Listado de Menus</h1>
<p><button><a th:href="@{/menus/formulario}">Crear un nuevo formulario</a></button></p>
<table>
  <thead>
  <tr>
    <th>Menu id</th>
    <th>Nombre</th>
    <th>Calorias</th>
    <th>Precio</th>
    <th>Eliminar</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="m: ${menus}" >
    <td>[[${m.menuId}]]</td>
    <td>[[${m.nombre}]]</td>
    <td>[[${m.calorias}]]</td>
    <td>[[${m.precio}]]</td>
    <td><a th:href="@{'/menus/eliminar/'+ ${m.menuId}}">eliminar</a></td>

  </tr>
  </tbody>
</table>
<a th:href="@{'/'}">Regresar a la pagina inicial</a>

</body>
</html>